# Игнорировать всё
*

# Разрешить Git заходить во вложенные директории
!*/

# Разрешить Python-файлы
!*.py
!**/*.py

# Разрешить .gitignore
!.gitignore

# Не отслеживать Python-кэш
__pycache__/
**/__pycache__/
*.pyc